<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestCountriesBaseURL</key>
	<string>https://restcountries.com</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.979858473169-v3bj4kt3mbrc2d94rsql9fc96quvfq9n</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>979858473169-v3bj4kt3mbrc2d94rsql9fc96quvfq9n.apps.googleusercontent.com</string>
    
</dict>
</plist>
